<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<title>Calculo Pension</title>
</head>
<body>
<nav class="orange lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" th:href="@{/}" class="brand-logo">PrimaAFP</a>
          <ul class="right hide-on-med-and-down">
          <li><a th:href="@{/afiliados}">Afiliados</a></li>
          <li><a th:href="@{/listoperador}">Operadores</a></li>
          <li><a th:href="@{/listRepEmpresas}">Empresas</a></li>
          <li><a th:href="@{/solicitudes}">Solicitudes</a></li>
          <li><a th:href="@{/cuentas}">Cuentas</a></li>
          <li><a th:href="@{/aportes}">Aportes</a></li>
          <li><a th:href="@{/fondos}">Fondos</a></li>
          <li><a th:href="@{/moras}">Moras</a></li>   
          <li><a th:href="@{/periodosdeaporte}">Periodos</a></li>
          </ul>
          
      <ul id="nav-mobile" class="side-nav">
          <li><a th:href="@{/afiliados}">Afiliados</a></li>
          <li><a th:href="@{/listoperador}">Operadores</a></li>
          <li><a th:href="@{/listRepEmpresas}">Empresas</a></li>
          <li><a th:href="@{/solicitudes}">Solicitudes</a></li>
          <li><a th:href="@{/cuentas}">Cuentas</a></li>
          <li><a th:href="@{/aportes}">Aportes</a></li>
          <li><a th:href="@{/fondos}">Fondos</a></li>
          <li><a th:href="@{/moras}">Moras</a></li>   
          <li><a th:href="@{/periodosdeaporte}">Periodos</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
 <h1 class="center"><i class="large material-icons left">receipt</i>Calculo de Pension</h1>
 <div class="row">
 <form class="col s12" th:action="@{/calculopensionresultado}" method="post">
 <div class="input-field col s6">
Rentabilidad Anual (en % solo numero):
<input type="text" name="rentanual"/>
</div>
<div class="input-field col s6">
Fondo Actual:
<input type="text" name="fondo"/>
</div>
<div class="input-field col s6">
Cantidad Meses:
<input type="text" name="cantmeses"/>
</div>
<div class="input-field col s12 center">
<button class="btn waves-effect waves-light" type="submit">Calcular
 <i class="material-icons right">perm_identity</i></button>
</div>
</form>
<p th:text="${mensaje}" style="font-size:36px"></p>
</div>
<!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script> 
</body>
</html>